<template>
  <div ref="list" class="list-container" @scroll="handleScroll($event)">
    <!-- 撑开高度 -->
    <div class="box" :style="{height: listData.length * itemSize + 'px'}"></div>
    <!-- 真实列表 -->
    <div class="list" :style="{transform: getTransform}">
      <div
        v-for="item in visibleData"
        :key="item.id"
        class="item"
        :style="{height: `${itemSize}px`, lineHeight:  `${itemSize}px`}"
      >{{ item.value }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name:'VirtualList',
  props: {
    //所有列表数据
    listData:{
      type:Array,
      default:()=>[]
    },
    //每项高度
    itemSize: {
      type: Number,
      default:200
    }
  },
  data() {
    return {
      offset: 0, // 偏移量
      showNum: 0, // 一屏幕展示多少个
      start: 0, // 可见区域开始下标
      end: 0, // 可见区域结束下标
    };
  },
  computed:{
    // 获取偏移量
    getTransform() {
      return `translate3d(0, ${this.offset}px, 0)`;
    },

    // 获取展示出来的data
    visibleData() {
      return this.listData.slice(this.start, Math.floor(this.end, this.listData.length))
    },
  },

  mounted() {
    this.showNum = this.$el.clientHeight / this.itemSize;
    this.end = this.showNum;
  },

  methods: {
    handleScroll() {
      let scrollTop = this.$refs.list.scrollTop; // 滚动距离
      this.offset = scrollTop - (scrollTop % this.itemSize); // 偏移量
      this.start = scrollTop / this.itemSize; // 开始下标
      this.end = this.start + this.showNum; // 结束下标
    },
  }
};
</script>


<style scoped>
.list-container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.box {
  z-index: -1;
}

.list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.item {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #eee;
}
</style>